@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

        @font-face {
            font-family: Manus;
            src: url("MNS_TRIAL.ttf");
        }

        @font-face {
            font-family: Merriweather;
            src: url("Merriweather-Regular.otf");
        }

        .grid-container {
            display: grid;
            grid-template-columns: 33.3% 33.3% 33.3%;
            background-color: #f1f2ff;
            padding: 40px;
            grid-gap: 10px;
        }

        .grid-item {
            height: 100px;
            padding: 20px;
            display: flex;
            justify-content:center;
            align-items: center;
        }

        .grid-item ul {
            list-style-type: none;
            line-height: 10px;
        }

        .grid-item li a {
            text-decoration: none;
            font-family: Open Sans;
            color:#484848;
        }

        .sub1 {
            font-family: Merriweather;
            color: rgb(63, 63, 63);
            font-size: 16px;
        }

        .sub1 a {
            text-decoration: none;
            color: rgb(63, 63, 63);
        }

        .sub2 a {
            text-decoration: none;
            color: rgb(63, 63, 63);
        }

        .sub3 a {
            text-decoration: none;
            color: rgb(63, 63, 63);
        }

        .sub2 {
            font-family: Merriweather;
            color: rgb(63, 63, 63);
            font-size: 14px;
        }

        .sub3 {
            font-family: Merriweather;
            color: rgb(63, 63, 63);
            font-size: 14px;
        }

        .grid-item p {
            font-family: Merriweather;
            color: aliceblue;
            font-size: 26px;
            text-shadow:
                0px 2px 0 #484848, -1px -1px 0 #484848, 1px -1px 0 #484848, -1px 1px 0 #484848, 1px 1px 0 #484848;
        }

        .grid-item:nth-child(odd) {
            background-color:#bfbff1;
        }

        .grid-item:nth-child(even) {
            background-color:#d1ccff;
        }

        .special_image {
            height: 300px;
            width: auto;
            margin-left: 16%;
        }

        .special {
            /*border-spacing: 20px;*/
            /*display: table;*/
            /*margin: 0 auto;*/
            display: grid;
            grid-template-columns: 33.3% 33.3% 33.3%;
            grid-gap: 10px;
            padding: 30px;
        }


        .special_product {
            background-color: #fafcff;
            /*display: table-cell;*/
            /*padding: 30px;*/
            border: 2px dotted #d1ccff;

            height: 450px;
            padding: 20px;
            display: inline-table;
            justify-content:center;
            align-items: center;
        }

        .special_product h3 {
            text-align: center;
        }

        .special_product a {
            margin-left: 42%;
        }

        .special-products {
            font-family: Manus;
            text-align: center;
            background-color: #f1f2ff;
            color:#61619cc7;
            height: 100%;
            width: 50%;
            margin: 0 auto;
            }

        .category_link {
            text-decoration: none;
            font-family: Merriweather;
            color: aliceblue;
            font-size: 26px;
            text-shadow:
                0px 2px 0 #484848, -1px -1px 0 #484848, 1px -1px 0 #484848, -1px 1px 0 #484848, 1px 1px 0 #484848;
        }

        .product_name {
            font-family: Montserrat;
            font-size: 20px;
        }

        .product_discount {
            font-family: Open Sans;
            color:#61619cc7;
        }

        .product_price {
            font-family: Montserrat;
        }

        .button_details {
            border-radius: 30px;
            background-color: #8f8fad;
            color: aliceblue;
            width: 75px;
            height: 35px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            font-size: 16px;
            border-color: #585858;
        }

        .sort {
            margin-left: 200px;
        }

        .sort a,p {
            text-decoration: none;
            font-size:18px;
            font-family: Open Sans;
            color:#61619cc7;
        }

        .sort span {
            text-decoration: none;
            font-size:16px;
            font-family: Open Sans;
            color:#6e4a73;
            font-weight: 600;
        }

        .description {
            text-align: center;
            font-family: Merriweather;
            font-size:14px;
        }

        .categories {
            text-align: center;
            font-family: Merriweather;
            font-size: 14px;
        }

        .pagination {
            margin-left: 200px;
            list-style-type: none;
        }

        .pagination li {
            display: inline-block;
            padding:5px;
        }

        .pagination a {
            text-decoration: none;
            font-family: Open Sans;
            color:#61619cc7;
            font-size: 18px;
        }

        .navigation_button {
            border-radius: 30px;
            background-color: #8f8fad;
            color: aliceblue;
            width: 120px;
            height: 35px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            font-size: 15px;
            border-color: #585858;
        }

        .no-results {
            font-family: 'Open Sans', sans-serif;
        }

        .cart_form {
            text-align: center;
        }

        #cart_quantity {
            width: 40px;
            height: 40px;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
        }

        .cart_button {
            border-radius: 30px;
            background-color: #8f8fad;
            color: aliceblue;
            width: 150px;
            height: 40px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            font-size: 15px;
            border-color: #585858;
            white-space: nowrap;
        }

        .cart_success {
            font-family: Manus;
            text-align: center;
            background-color: #dbffec;
            color:#61619cc7;
            width: 80%;
            margin: 0 auto;
            }

            .cart_failure {
                font-family: Manus;
                text-align: center;
                background-color: #ffdbf1b0;
                color:#61619cc7;
                width: 80%;
                margin: 0 auto;
                }

                .cart_warning {
                    font-family: Manus;
                    text-align: center;
                    background-color: hsla(57, 100%, 93%, 0.69);
                    color:#61619cc7;
                    width: 80%;
                    margin: 0 auto;
                    }

            .cart {
                float: right;
                background-color: #bfbff1;
            }

            .cart i {
                margin-left: 10px;
            }

            .cart a {
                text-decoration: none;
                color: #61619cc7;
            }

            .cart_warning a {
                text-decoration: none;
                color: #61619cc7;
            }

            .button_delete_cart_product {
                border-radius: 30px;
                background-color: #6e4a73d1;
                color: aliceblue;
                width: 150px;
                height: 40px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                font-size: 15px;
                border-color: #585858;
                white-space: nowrap;
                margin-bottom: 15px;
            }

            .order_form {
                text-align: center;
                font-family: Merriweather;
            }
